{% extends "tracker/base.html" %}
{% block content %}
<div class="heading">
    <h1>Welcome</h1>
</div>
<h3>COVID Cases Of Nepal</h3>
<div class="box">
    <div id="box-1">
        <p>Total Tested: {{data.tested_total}}</p>
    </div>
    <div id="box-2">
        <p>Total Positive: {{data.tested_positive}}</p>
    </div>
    <div id="box-3">
        <p>Total Negative: {{data.tested_negative}}</p>
    </div>
    <div id="box-4">
        <p>Total Deaths: {{data.deaths}}</p>
    </div>
    <div id="box-4">
        <p>Total Recovered: {{data.recovered}}</p>
    </div>
</div>
{% endblock content %}
